:org.apache.felix.configadmin.revision:=L"1"
alias="Simulated Grid Datasource"
enabled=B"true"
id="datasource1"
service.factoryPid="Simulator.Datasource.Single.Direct"
service.pid="Simulator.Datasource.Single.Direct.datasource1"
values=i[ \
  "50000", \
  "50000", \
  "20000", \
  "-100000", \
  "-280000", \
  "-430000", \
  "-510000", \
  "-530000", \
  "-510000", \
  "-430000", \
  "-280000", \
  "-100000", \
  "20000", \
  "50000", \
  "50000", \
  ]
