:org.apache.felix.configadmin.revision:=L"1"
alias="Simulated PV Production Datasource"
enabled=B"true"
id="datasource0"
service.factoryPid="Simulator.Datasource.Single.Direct"
service.pid="Simulator.Datasource.Single.Direct.datasource0"
values=i[ \
  "0", \
  "0", \
  "60000", \
  "180000", \
  "350000", \
  "480000", \
  "500000", \
  "500000", \
  "500000", \
  "480000", \
  "350000", \
  "180000", \
  "60000", \
  "0", \
  "0", \
  ]
