:org.apache.felix.configadmin.revision:=L"1"
alias="Simulated Battery"
capacity=I"1000000"
enabled=B"true"
gridMode="ON_GRID"
id="ess0"
initialSoc=I"50"
maxApparentPower=I"500000"
maxChargePower=I"500000"
maxDischargePower=I"500000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.ess0"
